.Modal {
    display: none;

    &.active {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        overflow: auto;
        z-index: 300;
        background-color: #3338;
        display: block;
    }

    .Card {
        max-width: calc(-120px + 100vw);
        max-height: calc(-119px + 100vh);
        margin-right: auto;
        margin-left: auto;
        position: absolute;
        top: 60px;
        right: 0px;
        left: 0px;
        overflow: hidden
    }
}

.spinner {
    animation: spinner 0.75s ease-in-out infinite;
}