/* add css module styles here (optional) */
@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}
